{
"url": "https://selfservice.campus-dual.de/room/json?userid= your id  &hash= your hash  &start=1543186800&end=2543273200",
"outFileBase": "/foo/cal-base.ics",
"outFileAnw": "/foo/cal-mobanw.ics",
"outFileKom": "/foo/cal-mobkom.ics",
"outFileAll": "/foo/cal-all.ics",
"outFileJson": "/foo/cal.json"
}
